a{
    margin-right: 35px;
    align-self: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.notification-container{
    display: flex;
    flex-direction: row;
    margin-right: 15px;
    cursor: pointer;
}
p{
    /* width: 10px; */
    background-color: red;
    color: #FFF;
    padding-left: 5px;
    padding-right: 6px;
    border-radius: 100px;
    margin-left: -10px;
}
.nav-bar-container{
    display: flex;
}