<div class="center-container">
    <h1>Update profile</h1>
    <form [formGroup]="updateAdminForm">
        <div>
            <div class="div-margin" > 
                <input [value]="res?.email" type="text" disabled > 
            </div>
            <div class="div-margin">
                <input [value]="res?.userType?.toString()" type="text" disabled> 
            </div>
            <div class="div-margin">
                <input  type="password" formControlName="newPassword"   placeholder="New password">
            </div>
            <div class="div-margin">
                <input type="password" formControlName="newPasswordConfirmed"   placeholder="Confirm new password">
                <p *ngIf="passwordsMatching == true">*Passwords do not match</p>
                <p *ngIf="newPasswordRequired == true">*New password is required</p>
            </div>
            <div class="div-margin">
                <input type="password" formControlName="oldPassword" required required required placeholder="Old password">
                <p *ngIf="passwordRequired == true">*Your password is required</p>
                <p id="update-label" *ngIf="updateConfirmation == true">Successfully updated password</p>
                <p *ngIf="canNotUpdateAdmin == true">*Incorrect password</p>
            </div>
            <div class="div-margin">
                <button id="button-register" type="submit" (click)="onSubmit()">Save</button>
            </div>
        </div>
    </form>
</div>
