<mat-toolbar>
    <img [routerLink]="['/home']"   routerLinkActive="router-link-active" src="../../../assets/images/logo-no-background.svg" alt="image">
    <div>
        <app-host-nav-bar *ngIf="role == 'HOST'"></app-host-nav-bar>
        <app-admin-nav-bar *ngIf="role == 'ADMIN'"></app-admin-nav-bar>
        <app-guest-nav-bar *ngIf="role == 'GUEST'"></app-guest-nav-bar>
        <a *ngIf="role == null" [routerLink]="['/login']" routerLinkActive="router-link-active">LOG IN</a>
        <button *ngIf="role == null" [routerLink]="['/register']" routerLinkActive="router-link-active" mat-raised-button color="primary">SIGN UP</button>
        <a *ngIf="role != null" (click)="openProfile()">PROFILE</a>
        <a *ngIf="role != null" (click)="logOut()" >LOGOUT</a>
    </div>
</mat-toolbar>