<div class="main-container">
    <div class="image-container">
        <!-- <img class="cropped-image" src="../../../assets/images/cover-img.jpg" alt="image"> -->
        <div class="header-filter-container">
            <div class="location">
                <div class="icon-container">
                    <img src="../../../assets/images/bed.png" alt="image">
                    <label>Where</label>
                </div>
                
                <input>
            </div>
            <div class="datePicker">
                <mat-form-field>
                    <mat-label>Check in</mat-label>
                    <input matInput [matDatepicker]="checkinPicker">
                    <mat-datepicker-toggle matIconSuffix [for]="checkinPicker"></mat-datepicker-toggle>
                    <mat-datepicker #checkinPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="datePicker">
                <mat-form-field>
                    <mat-label>Check out</mat-label>
                    <input matInput [matDatepicker]="checkoutPicker">
                    <mat-datepicker-toggle matIconSuffix [for]="checkoutPicker"></mat-datepicker-toggle>
                    <mat-datepicker #checkoutPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="num-of-persons">
                <div class="icon-container">
                    <img src="../../../assets/images/person.svg" alt="image">
                    <label>Persons</label>
                </div>
                <input type="number">
            </div>
            <div class="search-btn">
                <button>Search</button>
            </div>
        
            
        </div>
    </div>
   
    <div class="main">
        <div class="amenities-price-filter">
            <h4>Filter by:</h4>
            <hr>
            <h5>Amenities</h5>
            <label>
                <mat-checkbox aria-label="amenitie">
                </mat-checkbox>
                Wi-fi
            </label>
            <label>
                <mat-checkbox aria-label="amenitie">
                </mat-checkbox>
                Aircondition
            </label>
            <label>
                <mat-checkbox aria-label="amenitie">
                </mat-checkbox>
                Parking
            </label>
            <label>
                <mat-checkbox aria-label="amenitie">
                </mat-checkbox>
                Pool
            </label>
            <label>
                <mat-checkbox aria-label="amenitie">
                </mat-checkbox>
                Breakfast
            </label>
            <label>
                <mat-checkbox aria-label="amenitie">
                </mat-checkbox>
                Lunch
            </label>
            <label>
                <mat-checkbox aria-label="amenitie">
                </mat-checkbox>
                Dinner
            </label>
            <label>
                <mat-checkbox aria-label="amenitie">
                </mat-checkbox>
                Kitchen
            </label>
            <label>
                <mat-checkbox aria-label="amenitie">
                </mat-checkbox>
                TV
            </label>
          
            
            <hr>
            <h5>Price</h5>
            <div class="min-max-labels">
                <span>0$</span>
                <span>1500$</span>
            </div>
            <mat-slider min="0" max="1500"  (input)="onSliderInput($event)">
                <input matSliderStartThumb [(ngModel)]="startedValue">
                <input matSliderEndThumb [(ngModel)]="endValue">
            </mat-slider>
              
            <div class="min-max-labels-change">
                <span>{{ startedValue }} - {{ endValue }} $</span>
            </div>
            <hr>
            <h5>Accommodation type</h5>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Hotel</mat-radio-button>
                <mat-radio-button value="2">Apartment</mat-radio-button>
              </mat-radio-group>
        
        </div>
        <div class="cards">
            <div class="card">
                <img src="../../../assets/images/main.jpeg">
                <div class="card-description">
                    <div class="title-rating">
                        <h4>Suncev breg</h4>
                        <div class="rating">
                            <span><img src="../../../assets/images/star-fill.svg"></span>
                            <span>4.6</span>
                        </div>
                        
                    </div>
                    <p>Srbija, Novi Sad</p>
                    <div>
                        <p>19.12.2023-31.12.2023</p>
                        <p>100$ per night</p>
                        <p>1100$ in total</p>
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/main.jpeg">
                <div class="card-description">
                    <div class="title-rating">
                        <h4>Suncev breg</h4>
                        <div class="rating">
                            <span><img src="../../../assets/images/star-fill.svg"></span>
                            <span>4.6</span>
                        </div>
                        
                    </div>
                    <p>Srbija, Novi Sad</p>
                    <div>
                        <p>19.12.2023-31.12.2023</p>
                        <p>100$ per night</p>
                        <p>1100$ in total</p>
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/main.jpeg">
                <div class="card-description">
                    <div class="title-rating">
                        <h4>Suncev breg</h4>
                        <div class="rating">
                            <span><img src="../../../assets/images/star-fill.svg"></span>
                            <span>4.6</span>
                        </div>
                        
                    </div>
                    <p>Srbija, Novi Sad</p>
                    <div>
                        <p>19.12.2023-31.12.2023</p>
                        <p>100$ per night</p>
                        <p>1100$ in total</p>
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/main.jpeg">
                <div class="card-description">
                    <div class="title-rating">
                        <h4>Suncev breg</h4>
                        <div class="rating">
                            <span><img src="../../../assets/images/star-fill.svg"></span>
                            <span>4.6</span>
                        </div>
                        
                    </div>
                    <p>Srbija, Novi Sad</p>
                    <div>
                        <p>19.12.2023-31.12.2023</p>
                        <p>100$ per night</p>
                        <p>1100$ in total</p>
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/main.jpeg">
                <div class="card-description">
                    <div class="title-rating">
                        <h4>Suncev breg</h4>
                        <div class="rating">
                            <span><img src="../../../assets/images/star-fill.svg"></span>
                            <span>4.6</span>
                        </div>
                        
                    </div>
                    <p>Srbija, Novi Sad</p>
                    <div>
                        <p>19.12.2023-31.12.2023</p>
                        <p>100$ per night</p>
                        <p>1100$ in total</p>
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/main.jpeg">
                <div class="card-description">
                    <div class="title-rating">
                        <h4>Suncev breg</h4>
                        <div class="rating">
                            <span><img src="../../../assets/images/star-fill.svg"></span>
                            <span>4.6</span>
                        </div>
                        
                    </div>
                    <p>Srbija, Novi Sad</p>
                    <div>
                        <p>19.12.2023-31.12.2023</p>
                        <p>100$ per night</p>
                        <p>1100$ in total</p>
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/main.jpeg">
                <div class="card-description">
                    <div class="title-rating">
                        <h4>Suncev breg</h4>
                        <div class="rating">
                            <span><img src="../../../assets/images/star-fill.svg"></span>
                            <span>4.6</span>
                        </div>
                        
                    </div>
                    <p>Srbija, Novi Sad</p>
                    <div>
                        <p>19.12.2023-31.12.2023</p>
                        <p>100$ per night</p>
                        <p>1100$ in total</p>
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/main.jpeg">
                <div class="card-description">
                    <div class="title-rating">
                        <h4>Suncev breg</h4>
                        <div class="rating">
                            <span><img src="../../../assets/images/star-fill.svg"></span>
                            <span>4.6</span>
                        </div>
                        
                    </div>
                    <p>Srbija, Novi Sad</p>
                    <div>
                        <p>19.12.2023-31.12.2023</p>
                        <p>100$ per night</p>
                        <p>1100$ in total</p>
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/main.jpeg">
                <div class="card-description">
                    <div class="title-rating">
                        <h4>Suncev breg</h4>
                        <div class="rating">
                            <span><img src="../../../assets/images/star-fill.svg"></span>
                            <span>4.6</span>
                        </div>
                        
                    </div>
                    <p>Srbija, Novi Sad</p>
                    <div>
                        <p>19.12.2023-31.12.2023</p>
                        <p>100$ per night</p>
                        <p>1100$ in total</p>
                    </div>
                    
                </div>
            </div>
            <div class="card">
                <img src="../../../assets/images/main.jpeg">
                <div class="card-description">
                    <div class="title-rating">
                        <h4>Suncev breg</h4>
                        <div class="rating">
                            <span><img src="../../../assets/images/star-fill.svg"></span>
                            <span>4.6</span>
                        </div>
                        
                    </div>
                    <p>Srbija, Novi Sad</p>
                    <div>
                        <p>19.12.2023-31.12.2023</p>
                        <p>100$ per night</p>
                        <p>1100$ in total</p>
                    </div>
                    
                </div>
            </div>
           
            
            
        </div>
        
    </div>

</div>
    