
.main{
    background-color: #F6F8FA;
    height: 1000px;
    display: flex;
    flex-direction: row;
    padding-top: 200px;
    padding-bottom: 400px;
}

.image-container {
    overflow: hidden;
    height: 200px;
     max-height: 300px;
     position: relative; /* Sakrivanje dela slike koji bi mogao biti van kontejnera */
     background-color: #235471;
  }
  
.cropped-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cropovanje slike kako bi popunila kontejner */
}
.header-filter-container{
    overflow: hidden;
    position: absolute;
    flex-wrap: wrap;
    left: 20%;
    right: 20%;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    background-color: #FFFFFF;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-height: 75px;

}
.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right:1px solid black ;
    padding-right: 40px;

}
.icon-container{
    width:90px;
    display:flex;
    justify-content: space-between;
}
.num-of-persons{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right:1px solid black ;
    padding-right: 40px;
}
input {
    border-radius: 10px;
    border:none;
    outline: none;
    /* filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.1)); */
    height: 30px;
}
.datePicker{
    border-right:1px solid black ;
    padding-right: 40px;
}
.search-btn{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.search-btn > button {
    background-color: #235471;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    outline: none;
    padding: 5px;
    width: 150px;
}

.amenities-price-filter{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-width: 250px;
    margin-left: 150px;
    margin-right: 100px;
    background-color: white;
    padding: 10px;
    min-height: 450px;
}

.cards{
    /* padding-left: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 200px;
}

.card{
    border-radius: 15px;
    margin-right: 50px;
    margin-bottom: 50px;
    height: 350px;
    width: 300px;
    filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.1));

}
.card-description{
    padding: 15px;
}
.card > img{
    border-radius: 15px 15px 0 0;
}