<div class="main-container">
    <div class="image-container">
        <div class="header-filter-container">
            <form [formGroup]="headerFilterForm">
                <div class="location">
                    <div class="icon-container">
                        <img src="../../../assets/images/bed.png" alt="image">
                        <label>Where</label>
                    </div>
                    
                    <input formControlName="city">
                </div>
                <div class="datePicker">
                    <mat-form-field>
                        <mat-label>Check in</mat-label>
                        <input matInput [matDatepicker]="checkinPicker" formControlName="startDate"  [matDatepickerFilter]="rangeFilter">
                        <mat-datepicker-toggle matIconSuffix [for]="checkinPicker"></mat-datepicker-toggle>
                        <mat-datepicker #checkinPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="datePicker">
                    <mat-form-field>
                        <mat-label>Check out</mat-label>
                        <input matInput [matDatepicker]="checkoutPicker" formControlName="endDate"  [matDatepickerFilter]="rangeFilter">
                        <mat-datepicker-toggle matIconSuffix [for]="checkoutPicker"></mat-datepicker-toggle>
                        <mat-datepicker #checkoutPicker></mat-datepicker>
                    </mat-form-field>
                   
                </div>
                <div class="num-of-persons">
                    <div class="icon-container">
                        <img src="../../../assets/images/person.svg" alt="image">
                        <label>Persons</label>
                    </div>
                    <input type="number" min="1" max="15"  formControlName="numOfGuests">
                </div>
                <div class="search-btn">
                    <button (click)="filterAccommodations()">Search</button>
                    <p *ngIf="headerValidator == true">*Invalid data</p>
                </div>
            </form>
            
        
            
        </div>
    </div>
   
    
    <div class="main">
        
        <div class="amenities-price-filter">
            <h5>Filter by:</h5>
            <hr>
            <h6>Amenities</h6>
            <label *ngFor="let checkbox of checkboxes;">
                <mat-checkbox aria-label="amenitie"  [(ngModel)]="checkbox.isChecked" (change)="onCheckboxChange()">
                </mat-checkbox>
                {{checkbox.label}}
            </label>
            <hr>
            <h6>Price</h6>
            <div class="min-max-labels">
                <span>{{startPriceFix}}$</span>
                <span>{{endPriceFix}}$</span>
            </div>
            <mat-slider min="{{startPriceFix}}" max="{{endPriceFix}}"  (input)="onSliderInput($event)">
                <input matSliderStartThumb [(ngModel)]="startedValue">
                <input matSliderEndThumb [(ngModel)]="endValue">
            </mat-slider>
              
            <div class="min-max-labels-change">
                <span>{{ startedValue }} - {{ endValue }} $</span>
            </div>
            <hr>
            <h6>Accommodation type</h6>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedAccommodationType">
                <mat-radio-button value="1">Hotel</mat-radio-button>
                <mat-radio-button value="2">Apartment</mat-radio-button>
                <mat-radio-button value="3">Both options</mat-radio-button>
              </mat-radio-group>
        
        </div>
        <div class="main-title">
            <h3 *ngIf="haveFilteredResults == false">There are no accommodations matching your search criteria</h3>
            
            <!-- <div class="cards" *ngIf="isFiltered == false">
                <div class="card" *ngFor="let card of cards;" [routerLink]="['/accommodation-details']" [queryParams]="{id: card.id}">
                    <img src="{{imageBase64}} {{card.image}}">
                    <div class="card-description">
                        <div class="title-rating">
                            <h5>{{ card.title }}</h5>
                            <div class="rating" *ngIf="accHaveRatings == true">
                                <span><img src="../../../assets/images/star-fill.svg"></span>
                                <span>{{card.avgRate?.toFixed(1)}}</span>
                            </div>
                            
                        </div>
                        <p>{{card.address?.city}}, {{card.address?.state}}</p>
                        <div *ngIf="priceVisibility ==true">
                            <p>19.12.2023-31.12.2023</p>
                            <p>100$ per night</p>
                            <p>1100$ in total</p>
                        </div>
                        
                    </div>
                </div>
                
            </div> -->
            <div class="cards" >
                <div class="card" *ngFor="let card of filteredAccommodations;" [routerLink]="['/accommodation-details']" [queryParams]="{id: card.id}">
                    <img src="{{imageBase64}} {{card.image}}">
                    <div class="card-description">
                        <div class="title-rating">
                            <h5>{{ card.title }}</h5>
                            <div class="rating">
                                <span><img src="../../../assets/images/star-fill.svg"></span>
                                <span *ngIf="card.avgRate != null"> {{card.avgRate.toFixed(1)}}</span>
                                <span *ngIf="card.avgRate == null"> No reviews</span>
                            </div>
                            
                        </div>
                        <p>{{card.address?.city}}, {{card.address?.state}}</p>

                        <div *ngIf="priceVisibility ==true">
                            <p>{{card.pricePerNight}}$ per night</p>
                            <p>{{card.totalPrice}}$ in total</p>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
    