<div class="main-container">
    <div class="image-container">
        <!-- <img class="cropped-image" src="../../../assets/images/cover-img.jpg" alt="image"> -->
        <div class="header-filter-container">
            <div class="location">
                <div class="icon-container">
                    <img src="../../../assets/images/bed.png" alt="image">
                    <label>Where</label>
                </div>
                
                <input>
            </div>
            <div class="datePicker">
                <mat-form-field>
                    <mat-label>Check in</mat-label>
                    <input matInput [matDatepicker]="checkinPicker">
                    <mat-datepicker-toggle matIconSuffix [for]="checkinPicker"></mat-datepicker-toggle>
                    <mat-datepicker #checkinPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="datePicker">
                <mat-form-field>
                    <mat-label>Check out</mat-label>
                    <input matInput [matDatepicker]="checkoutPicker">
                    <mat-datepicker-toggle matIconSuffix [for]="checkoutPicker"></mat-datepicker-toggle>
                    <mat-datepicker #checkoutPicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="num-of-persons">
                <div class="icon-container">
                    <img src="../../../assets/images/person.svg" alt="image">
                    <label>Persons</label>
                </div>
                <input type="number">
            </div>
            <div class="search-btn">
                <button (click)="filterAccommodations()">Search</button>
            </div>
        
            
        </div>
    </div>
   
    
    <div class="main">
        
        <div class="amenities-price-filter">
            <h4>Filter by:</h4>
            <hr>
            <h5>Amenities</h5>
            <label *ngFor="let checkbox of checkboxes;">
                <mat-checkbox aria-label="amenitie"  [(ngModel)]="checkbox.isChecked" (change)="onCheckboxChange()">
                </mat-checkbox>
                {{checkbox.label}}
            </label>
            <hr>
            <h5>Price</h5>
            <div class="min-max-labels">
                <span>0$</span>
                <span>1500$</span>
            </div>
            <mat-slider min="0" max="1500"  (input)="onSliderInput($event)">
                <input matSliderStartThumb [(ngModel)]="startedValue">
                <input matSliderEndThumb [(ngModel)]="endValue">
            </mat-slider>
              
            <div class="min-max-labels-change">
                <span>{{ startedValue }} - {{ endValue }} $</span>
            </div>
            <hr>
            <h5>Accommodation type</h5>
            <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedOption">
                <mat-radio-button value="1">Hotel</mat-radio-button>
                <mat-radio-button value="2">Apartment</mat-radio-button>
              </mat-radio-group>
        
        </div>
        <div class="main-title">
            <h3>Popular accommodations:</h3>
            <div class="cards" >
                <div class="card" *ngFor="let card of cards;" [routerLink]="['/accommodation-details']" [queryParams]="{id: card.id}">
                    <img src="{{imageBase64}} {{card.image}}">
                    <div class="card-description">
                        <div class="title-rating">
                            <h4>{{ card.title }}</h4>
                            <div class="rating" *ngIf="accHaveRatings == true">
                                <span><img src="../../../assets/images/star-fill.svg"></span>
                                <span>{{card.avgRate?.toFixed(1)}}</span>
                            </div>
                            
                        </div>
                        <p>{{card.address?.city}}, {{card.address?.state}}</p>
                        <div *ngIf="priceVisibility ==true">
                            <p>19.12.2023-31.12.2023</p>
                            <p>100$ per night</p>
                            <p>1100$ in total</p>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
       
        
    </div>

</div>
    