<div class="main-container">
    <div class="title-closebtn">
        <h4>Report user</h4>
        <img id="red-flag" src="../../../assets/images/close.png" (click)="closeDialog()">
    </div>
    <div class="textarea-conatiner">
        <p>The reason why you are reporting the user: {{firstname}} {{lastName}}</p>
        <textarea [(ngModel)]="reportReason" placeholder="At least 10 characters"></textarea>
        <p id="validator" *ngIf="validator == true">*You must enter at least 10 characters</p>
    </div>
    <button (click)="reportUser()">
        Report
    </button>
</div>