.popup-component-content{
    border-radius: 100px;
    background-color: black;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 570px;
}
h4{
    max-height: 17px;
    margin-left: 200px;
}
textarea{
    width: 500px;
    height: 100px;
}
img{
    width: 17px;
    height: 17px;
    opacity: 0.8;
    cursor: pointer;
    margin-left: 170px;
}
img:hover{
    opacity: 1.5;
}
.title-closebtn{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    width: 100%;

}
button{
    background-color: #235471;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    outline: none;
    width: 100px;
    padding: 7px;
    font-size:85%;
    margin-bottom: 30px;
    margin-top: 20px;
}
button:hover {
    background-color: white;
    filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.1));
    color: #235471;
    transition: transform 0.5s ease
}