img {
    cursor: pointer;
}

h1{
    color: #235471;
    font-size: 35px;
    margin-bottom: 25px;
}
input,button{
    border:none;
    outline:none;
}

input {
    font-size: 17px;
    border-radius: 5px;
    width: 400px;
    height: 25px;
    padding: 10px;
    margin: 10px 0;
    filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.1));
}
#button-login{
    cursor: pointer;
    font-size: 18px;
    background-color: #235471;
    color: #FFFF;
    border-radius: 5px;
    width: 420px;
    padding: 10px;
    height: 45px;
    margin: 15px 0;
    filter: drop-shadow(0px 0.25px 0px rgba(0, 0, 0, 0.039));
}
.div-margin{
    margin-top: 30px;
}
.center-container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.main-content {
    max-height: 500px;
    text-align: center;
    max-width: 400px;
    position: relative; 
}
.button-no-background{
    cursor: pointer;
    font-size: 15px;
    background-color: transparent;
    border: none;
    padding: 10px; 
    color: #235471; 
    cursor: pointer;
}
.logo-container {
    position: absolute;
    top: 0;
    left: 0;
}

.logo-container img {
    max-width: 15%; 
}