<div class="center-container">
    <div class="logo-container">
        <img routerLink="/home" src="../../../assets/images/logo-no-background.svg">
    </div>
    <div class="main-content">

        <h1>Sign in to Booking</h1>
        <form action="POST">
            <div class="div-margin">
                <input type="text" required required placeholder="Email">
            </div>
            <div class="div-margin">
                <input type="password" required required placeholder="Password">
            </div>
            <div class="div-margin">
                <button id="button-login">Log in</button>
            </div>
            <button class="button-no-background">Reset password</button>
            <div>
                <label>No account?</label>
                <button class="button-no-background" routerLink="/register">Create one</button>
            </div>
        </form>
    </div>
</div>