<div class="main-container">
	<div class="main">
		<div class="title">
			<h1>{{accommodationDetails?.title}}</h1>
			<div class="statusSection">
				<p *ngIf="user == 'HOST' && isHostAcc == true && accommodationDetails?.accommodationApprovalStatus == 'PENDING'">Status:  <span style="color:#aec309">Pending</span></p>
				<p *ngIf="user == 'HOST' && isHostAcc == true && accommodationDetails?.accommodationApprovalStatus == 'APPROVED'">Status:  <span style="color:#4fea74">Approved</span></p>
				<p *ngIf="user == 'HOST' && isHostAcc == true && accommodationDetails?.accommodationApprovalStatus == 'DECLINED'">Status:  <span style="color:#c22121">Declined</span></p>
			</div>
		</div>

		<div class="info">
			<div class="leftInfo">
				<img [src] = "starFill" alt="Star">
				<div class="addressAndReview">
					<p *ngIf="haveCommentsAndReviews == true">{{ratings.average}}</p>
					<p *ngIf="haveCommentsAndReviews == true">{{ratings.count}} reviewers</p>
					<p *ngIf="haveCommentsAndReviews == false">0 reviewers</p>
					<p>{{accommodationDetails?.address?.street}}, {{accommodationDetails?.address?.city}}, {{accommodationDetails?.address?.state}}</p>
				</div>
			</div>
			<div class="rightInfo"  *ngIf="user == 'GUEST'">
				<img [src] = "isStarFilled ? starFill : star" alt="Star" class="star-favourite" (click)="addOrRemoveFavourite()">
				<p>Save as favorite</p>
			</div>
		</div>

		<div class="pictures">
			<div class="main_picture">
				<img [src]="images[0]" alt="Slika levi-div" [routerLink]="['/accommodation-details-images']" [queryParams]="{img: images}">
			</div>

			<div class="side_pictures">
				<div class="inner_side_picture_up">
					<div class="picture">
						<img [src]="images[1]" alt="Side picture" [routerLink]="['/accommodation-details-images']" [queryParams]="{img: images}">
					</div>
					<div class="picture">
						<img [src]="images[2]" alt="Side picture" id="rightUp" [routerLink]="['/accommodation-details-images']" [queryParams]="{img: images}">
					</div>
				</div>
				<div class="inner_side_picture_down" >
					<div class="picture">
						<img [src]="images[3]" alt="Side picture" [routerLink]="['/accommodation-details-images']" [queryParams]="{img: images}">
					</div>
					<div class="picture" id="overlayedImage" [routerLink]="['/accommodation-details-images']" [queryParams]="{img: images}">
							<img [src]="images[4]" alt="Side picture" [ngClass]="{'rightBottom':displayLinkToRemainingPictures}"  routerLinkActive="router-link-active">
						<div class="numberOfPictures">
							<h2 *ngIf="displayLinkToRemainingPictures == true" class="font-style">{{remainingPicturesCount}}+ photos</h2>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div>
		<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()" *ngIf="user == 'GUEST' || user == 'UNREGISTERED'">
			<div class="buttons">

					<div class="datePickers">
						<div class="datePicker">
							<mat-form-field>
								<mat-label>Check in</mat-label>
								<input matInput [matDatepicker]="checkinPicker" formControlName="startDate" [matDatepickerFilter]="rangeFilter">
								<mat-hint>MM/DD/YYYY</mat-hint>
								<mat-datepicker-toggle matIconSuffix [for]="checkinPicker"></mat-datepicker-toggle>
								<mat-datepicker #checkinPicker></mat-datepicker>
							</mat-form-field>
						</div>
						<div class="datePicker">
							<mat-form-field>
								<mat-label>Check out</mat-label>
								<input matInput [matDatepicker]="checkoutPicker" formControlName="endDate" [matDatepickerFilter]="rangeFilter">
								<mat-hint>MM/DD/YYYY</mat-hint>
								<mat-datepicker-toggle matIconSuffix [for]="checkoutPicker"></mat-datepicker-toggle>
								<mat-datepicker #checkoutPicker></mat-datepicker>
							</mat-form-field>
						</div>
						<div>
							<select id="combo-numberOfGuests" formControlName="numOfGuests">
								<!-- <option value="" disabled selected hidden>Number of guests</option> -->
								<option [ngValue]=0 disabled selected>Select number of guests</option>
								<option *ngFor="let num of numberOfGuests" [value]="num">{{ num }}</option>
							</select>
						</div>

						<div class="ui-messages">
							<p *ngIf="fieldsNotValid == true" style="color:#e91b00">*Input fields are not valid</p>
							<p *ngIf="notAvailable == true" style="color:#e91b00">Apartment is not available in that interval</p>
							<p *ngIf="createdReservation == true" style="color:#4fea74">Reservation is created! {{reservationMessage}}</p>
							<p *ngIf="serverError == true" style="color:#4fea74">Server error</p>

						</div>
					</div>
					<div class="reservate">
						<button mat-raised-button type="submit">Reserve</button>
					</div>
			</div>
		</form>

		<div class="updateButton"  *ngIf="user == 'HOST' && isHostAcc == true">
			<button mat-raised-button (click)="routeToUpdate()">Update</button>
		</div>


		</div>


		<div class="description">
			<h2>Description</h2>
			<p>{{accommodationDetails?.description}}</p>

			<div class="amenities" *ngFor="let amenitie of amenitiesIcons">
				<div class="amenitie">
					<img [src]="amenitie.icon" alt="Amenitie">
					<p>{{amenitie.name}}</p>
				</div>
			</div>

			<hr>

			<div class="location">
				<h4>Location of apartment</h4>
				<div class="map">
					<google-map [options]="mapOptions" width="100%">
						<map-marker [position]="{ lat: myLatLng.lat, lng: myLatLng.lng }"></map-marker>
					</google-map>
				</div>
			</div>
		</div>

		<div class="commentsSection">
			<h4 *ngIf="haveCommentsAndReviews == true" id="commentsAccTitle">Comments about accommodation</h4>
			<h4 *ngIf="haveCommentsAndReviews == false">This accommodation has no comments or ratings</h4>
			<div class="comments" *ngIf="haveCommentsAndReviews == true">
				<div class="comments-container">
					<div class="review">
						<div class="reviewEl">
							<div class="reviewDisplay">
								<div class="reviewDisplayLeft">
									<h1>{{ratings.average}}</h1>
								</div>
								<div class="reviewDisplayRight">
									<div class="reviewDisplayRightUp">
										<h5>Excellent</h5>
									</div>
									<div class="reviewDisplayRightUp">
										<p>{{ratings.count}} reviewers</p>
									</div>
								</div>
							</div>

							<div class="oneReview">
								<div class="infoReview">
									<div class="rightReview">
										<p>5 - Excellent</p>
									</div>
									<div class="leftReview">
										<p class="progressValue">{{ratings.excellent}}</p>
									</div>
								</div>
								<mat-progress-bar mode="determinate" [value]="(ratings.excellent / ratings.count) * 100" class="progressColor"></mat-progress-bar>
							</div>
							<div class="oneReview">
								<div class="infoReview">
									<div class="rightReview">
										<p>4 - Good</p>
									</div>
									<div class="leftReview">
										<p class="progressValue">{{ratings.good}}</p>
									</div>
								</div>
								<mat-progress-bar mode="determinate" [value]="(ratings.good / ratings.count) * 100"></mat-progress-bar>
							</div>
							<div class="oneReview">
								<div class="infoReview">
									<div class="rightReview">
										<p>3 - Okay</p>
									</div>
									<div class="leftReview">
										<p class="progressValue">{{ratings.okay}}</p>
									</div>
								</div>
								<mat-progress-bar mode="determinate" [value]="(ratings.okay / ratings.count) * 100"></mat-progress-bar>
							</div>
							<div class="oneReview">
								<div class="infoReview">
									<div class="rightReview">
										<p>2 - Poor</p>
									</div>
									<div class="leftReview">
										<p class="progressValue">{{ratings.poor}}</p>
									</div>
								</div>
								<mat-progress-bar mode="determinate" [value]="(ratings.poor / ratings.count) * 100"></mat-progress-bar>
							</div>
							<div class="oneReview">
								<div class="infoReview">
									<div class="rightReview">
										<p>1 - Terrible</p>
									</div>
									<div class="leftReview">
										<p class="progressValue">{{ratings.terrible}}</p>
									</div>
								</div>
								<mat-progress-bar mode="determinate" [value]="(ratings.terrible / ratings.count) * 100"></mat-progress-bar>
							</div>
						</div>
					</div>

					<div class="commentsAcc">
						<div *ngFor="let comment of displayedComments">
							<div class="comment">
								<div class="reportIcon">
									<h4>{{ comment.rating }}/5 {{ comment.ratingDescription }}  </h4>
									<img [src]="reportIcon" alt="UserIcon" (click)="openDialog(comment.id, 0, true)"
										 *ngIf="user == 'HOST' && isHostAcc == true">
								</div>
								<h5>{{ comment.guestName }} {{ comment.guestLastName }}</h5>
								<p>{{comment.date}}</p>
								<p>{{ comment.content }}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div *ngIf="haveCommentsAndReviews == true" class="expandCommentsButton">
				<button (click)="expandComments()" *ngIf="!allCommentsVisible" mat-raised-button>See all reviews</button>
			</div>
		</div>

		<div class="commentsSection">
			<h4 *ngIf="haveCommentsAndReviewsHost == true" id="commentsHostTitle">Comments about host</h4>
			<h4 *ngIf="haveCommentsAndReviewsHost == false">This host has no comments or ratings</h4>
			<div class="comments" *ngIf="haveCommentsAndReviewsHost == true">
				<div class="comments-container">
					<div class="review">
						<div class="reviewEl">
							<div class="reviewDisplay">
								<div class="reviewDisplayLeft">
									<h1>{{ratingsHost.average}}</h1>
								</div>
								<div class="reviewDisplayRight">
									<div class="reviewDisplayRightUp">
										<h5>Excellent</h5>
									</div>
									<div class="reviewDisplayRightUp">
										<p>{{ratingsHost.count}} reviewers</p>
									</div>
								</div>
							</div>

							<div class="oneReview">
								<div class="infoReview">
									<div class="rightReview">
										<p>5 - Excellent</p>
									</div>
									<div class="leftReview">
										<p class="progressValue">{{ratingsHost.excellent}}</p>
									</div>
								</div>
								<mat-progress-bar mode="determinate" [value]="(ratingsHost.excellent / ratingsHost.count) * 100" class="progressColor"></mat-progress-bar>
							</div>
							<div class="oneReview">
								<div class="infoReview">
									<div class="rightReview">
										<p>4 - Good</p>
									</div>
									<div class="leftReview">
										<p class="progressValue">{{ratingsHost.good}}</p>
									</div>
								</div>
								<mat-progress-bar mode="determinate" [value]="(ratingsHost.good / ratingsHost.count) * 100"></mat-progress-bar>
							</div>
							<div class="oneReview">
								<div class="infoReview">
									<div class="rightReview">
										<p>3 - Okay</p>
									</div>
									<div class="leftReview">
										<p class="progressValue">{{ratingsHost.okay}}</p>
									</div>
								</div>
								<mat-progress-bar mode="determinate" [value]="(ratingsHost.okay / ratingsHost.count) * 100"></mat-progress-bar>
							</div>
							<div class="oneReview">
								<div class="infoReview">
									<div class="rightReview">
										<p>2 - Poor</p>
									</div>
									<div class="leftReview">
										<p class="progressValue">{{ratingsHost.poor}}</p>
									</div>
								</div>
								<mat-progress-bar mode="determinate" [value]="(ratingsHost.poor / ratingsHost.count) * 100"></mat-progress-bar>
							</div>
							<div class="oneReview">
								<div class="infoReview">
									<div class="rightReview">
										<p>1 - Terrible</p>
									</div>
									<div class="leftReview">
										<p class="progressValue">{{ratingsHost.terrible}}</p>
									</div>
								</div>
								<mat-progress-bar mode="determinate" [value]="(ratingsHost.terrible / ratingsHost.count) * 100"></mat-progress-bar>
							</div>
						</div>
					</div>

					<div class="commentsAcc">
						<div *ngFor="let comment of displayedCommentsHost">
							<div class="comment">
								<div class="reportIcon">
									<h4>{{ comment.rating }}/5 {{ comment.ratingDescription }}  </h4>
									<img [src]="reportIcon" alt="UserIcon" (click)="openDialog(0, comment.id, false)"
										 *ngIf="user == 'HOST' && isHostAcc == true">
								</div>
								<h5>{{ comment.guestName }} {{ comment.guestLastName }}</h5>
								<p>{{comment.date}}</p>
								<p>{{ comment.content }}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
			</div>
<!--			openDialog(comAccId: number, comHostId: number, isComAcc: boolean)-->
			<div *ngIf="haveCommentsAndReviewsHost == true" class="expandCommentsButton">
				<button (click)="expandCommentsHost()" *ngIf="!allCommentsHostVisible" mat-raised-button>See all reviews</button>
			</div>
		</div>
		<div id="analytics-section" *ngIf="user == 'HOST' && isHostAcc == true">
			<app-annual-analytics #analyticscomponent [accommodationId]="accommodationId"></app-annual-analytics>
		</div>
	</div>

</div>
