.main {
	background-color: #F6F8FA;
	padding-top: 70px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 150px;
	max-width: 1600px;
	margin: auto;
}
.main-container{
	background-color: #F6F8FA;
}

.title {
	display: flex;
	margin-bottom: 50px;
}

.info {
	display: flex;
	justify-content: space-between;
	height: auto;
	margin-bottom: 30px;
	padding-right: 10px;
}

.leftInfo,
.rightInfo {
	display: flex;
	justify-content: space-around;
}

.leftInfo {
	margin-left: 10px;
}

.rightInfo {
	margin-right: 10px;
}
.addressAndReview {
	font-weight: bold;
	display: flex;
	flex-direction: row;
}

.info p {
	margin-left: 10px;
	white-space: nowrap;
}

.addressAndReview p {
	font-weight: bold;
	padding-right: 5px;
}
.info img {
	width: 100%;
	height: 100%;
	max-height: 50%;
}

.pictures {
	display: flex;
	height: auto;
	margin-bottom: 30px;
}

.main_picture,
.side_pictures {
	flex: 1;
	padding: 5px;
	box-sizing: border-box;
}

.inner_side_picture_up,
.inner_side_picture_down {
	display: flex;
	flex-wrap: wrap;
}

.inner_side_picture_up .picture {
	flex: 1;
	box-sizing: border-box;
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
}

.inner_side_picture_down .picture {
	flex: 1;
	box-sizing: border-box;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}

.pictures img {
	width: 100%;
	height: 100%;
}

.main_picture img {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#rightUp {
	border-top-right-radius: 15px;
}

.rightBottom {
	border-bottom-right-radius: 15px;
	filter: brightness(60%);
}

#overlayedImage {
	position: relative;
	max-width: 100%;
	cursor: pointer;
}

.numberOfPictures {
	position: absolute;
	height: auto;
	width: auto;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%,-50%);
}

.numberOfPictures h2{
	text-align: center;
	font-size: 3vh;
}

.description {
	background-color: white;
	border-radius: 15px;
	padding: 30px;
	margin-bottom: 50px;
}

.description p {
	padding-top: 15px;
	text-align: justify;
}

.buttons {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	height: auto;
	margin-bottom: 20px;
}

.datePickers {
	display: flex;
	flex-direction: row;
}

.datePicker {
	padding-right: 10px;
}

hr {
	border: 1px solid;
}
.amenities {
	padding-top: 5px;
	padding-bottom: 10px;
}
.amenitie {
	display: flex;
	justify-content: flex-start;
}

.amenitie p{
	padding-left: 15px;
}

.location {
	padding-top: 10px;
}

.reservate button {
	color: white;
	background-color: #235471;
	padding-inline: 70px;
	height: 45px;
}

.map {
	padding: 30px;
}

.comments {
	display: flex;
}

.comments-container {
	display: flex;
	width: 100%;
}

.review {
	box-sizing: border-box;
	flex: 1;
	margin-right: 155px;
	overflow: hidden;
}

.commentsAcc {
	box-sizing: border-box;
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	overflow: hidden;
	margin-left: 35px;
}

.comment {
	flex: 1;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
}

.infoReview {
	display: flex;
	justify-content: space-between;
	height: auto;
}
.leftReview,
.rightReview {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}

.leftReview {
	margin-left: 10px;
}

.rightReview {
	margin-right: 10px;
}

.commentsSection button {
	color: #235471;
	background-color: white;
	padding-inline: 50px;
	border-radius: 15px;
	border: 0.5px solid black;
}

.commentsSection {
	background-color: white;
	border-radius: 15px;
	padding: 30px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.expandCommentsButton {
	margin-top: 50px;
}

.reviewDisplay {
	display: flex;
	justify-content: flex-start; /* Postavlja elemente na početak */
}

.reviewDisplayLeft,
.reviewDisplayRight {
	box-sizing: border-box;
}

.reviewDisplayRight {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
}

.reviewDisplayRightUp,
.reviewDisplayRightDown {
	flex: 1;
	box-sizing: border-box;
	/*padding: 2px;*/
}

.reviewDisplayRightUp {
	order: 1;
}

.reviewDisplayRightDown {
	order: 2;
}

.reviewDisplayLeft {
	margin-right: 20px;
}

.reviewDisplayLeft h1 {
	/*font-weight: bold;*/
	font-size: 64px;
}

.reviewDisplay {
	margin-bottom: 20px;
}

.progressValue {
	font-weight: bold;
}

.star-favourite{
	cursor: pointer;
}

#combo-numberOfGuests{
	width: 220px;
	height: 55px;
	border-radius: 4px;
	padding: 5px;
	border: none;
    opacity: 0.8;
    outline: none;
	filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.1));
	align-self: auto;
}

.ui-messages p{
	margin: 10px 0 0 40px;
}


.updateButton {
	margin-bottom: 20px;
	display: flex;
	justify-content: end;
}
.updateButton button{
	height: 45px;
	width: 170px;
	margin: 10px;
	background-color: #235471;
	color: #FFF;
}

.pictures img{
	cursor: pointer;
}