.main-container{
    width: 100%;
    min-height: 800px;
    background-color:#F6F8FA ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.notification-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    width: 500px;
    height: 160px;
    background-color: #FFF;
    border: 10px black;
    border-radius: 10px;
    padding-left: 25px;
    filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.1));
}
button{
    background-color: #235471;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    outline: none;
    width: 120px;
    padding: 7px;
    font-size:85%;
}
button:hover {
    background-color: white;
    filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.1));
    color: #235471;
    transition: transform 0.5s ease
}
.notification-data{
    margin-left: 25px;
}
img{
    /* padding-left: 20px; */
    width: 60px;
    opacity: 0.7;
}
.unread-div{
    width: 500px;
    margin-bottom: 5px;
}
.notification-card-read{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    width: 500px;
    height: 130px;
    background-color: #FFF;
    border: 10px black;
    border-radius: 10px;
    padding-left: 25px;
    filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.1));
    opacity: 0.7;
}
span{
    font-size: 85%;
}
.activate-notification{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 510px;
    padding-left: 5px;
    height: 35px;
    background-color: #FFF;
    border-radius: 10px;
    filter: drop-shadow(6px 7px 7px rgba(0, 0, 0, 0.1));
    margin-bottom: 40px;
}

.popup {
    display: none;
    position: fixed;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .close-btn {
    font-size: 20px;
    color: #555;
    cursor: pointer;
    float: right;
  }