.main{
    background-color: #F6F8FA;
	padding-top: 70px;
	padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 150px;
	max-width: 1600px;
	margin: auto;
}
#main-container{
    background-color: #F6F8FA;
}
.components{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 100px;
}