
<div class="center-container">
    <div *ngIf="userRole == 'HOST'" class="certifacate-container">
        <svg (click)="openPopup()" xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 24 24"><path fill="#eacb06" d="M4 3c-1.11 0-2 .89-2 2v10a2 2 0 0 0 2 2h8v5l3-3l3 3v-5h2a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zm8 2l3 2l3-2v3.5l3 1.5l-3 1.5V15l-3-2l-3 2v-3.5L9 10l3-1.5zM4 5h5v2H4zm0 4h3v2H4zm0 4h5v2H4z"/></svg>
        <p *ngIf="userRole == 'HOST' && canGetCertificate">Request certificate</p>
        <p *ngIf="userRole == 'HOST' && !canGetCertificate">View certificate</p>
    </div>
    <h1>Update profile</h1>
    <form [formGroup]="updateProfileForm">
        <div>
            <div class="div-margin" > 
                <input [value]="res?.email" type="text" disabled > 
            </div>
            <div class="div-margin">
                <input [value]="res?.userType?.toString()" type="text" disabled> 
            </div>
            <div class="div-margin">
                <input [(ngModel)]="updateProfileForm.value.name" formControlName="name" type="text" required required placeholder="Name"> 
                <p *ngIf="nameRequired == true">*Your name is required</p>
            </div>
            <div class="div-margin">
                <input [(ngModel)]="updateProfileForm.value.lastname" formControlName="lastname" type="text" required required placeholder="Lastname">
                <p *ngIf="lastNameRequired == true">*Your lastname is required</p>
            </div>
            <div class="div-margin">
                <input [(ngModel)]="updateProfileForm.value.state" formControlName="state" type="text" required required placeholder="State">
                <p *ngIf="stateRequired == true">*Your state is required</p>
            </div>
            <div class="city-postal">
                <input [(ngModel)]="updateProfileForm.value.city" formControlName="city" id="city-input" type="text" required required placeholder="City">
                <input [(ngModel)]="updateProfileForm.value.postalCode" formControlName="postalCode" id="postal-input" type="number" required placeholder="Postal code">
            </div>
            <div class="required-validators">
                <p *ngIf="cityAndPostalCodeRequired == true">*Your city and postal code are required</p>
                <p *ngIf="cityRequired == true">*Your city is required</p>
                <p *ngIf="postalCodeRequired == true">*Your postal code is required</p>
            </div>
            <div class="div-margin">
                <input [(ngModel)]="updateProfileForm.value.street" formControlName="street" type="text"  required placeholder="Street">
                <p *ngIf="streetRequired == true">*Your street is required</p>
            </div>
            <div class="div-margin">
                <input [value]="res?.phoneNumber" formControlName="phoneNumber" type="tel" required required placeholder="Phone number">
                <p *ngIf="phoneNumberRequired == true">*Your phone number is required</p>
            </div>
            <div class="div-margin">
                <input  type="password" formControlName="newPassword"   placeholder="New password">
            </div>
            <div class="div-margin">
                <input type="password" formControlName="newPasswordConfirmed"   placeholder="Confirm new password">
                <p *ngIf="passwordsMatching == true">*Passwords do not match</p>

            </div>
            <div class="div-margin">
                <input type="password" formControlName="oldPassword" required required required placeholder="Old password">
                <p *ngIf="passwordRequired == true">*Your password is required</p>
                <p *ngIf="canNotUpdateUser == true">*User cannot be updated</p>
                <p *ngIf="canNotDeleteUser == true">*User cannot be deleted</p>
                <p id="update-label" *ngIf="updateConfirmation == true">Successfully updated informations</p>
            </div>
            <div class="div-margin">
                <button id="button-register" type="submit" (click)="onSubmit()">Save</button>
            </div>
            <div class="div-margin">
                <button id="button-delete" (click)="deleteUser()">Delete profile</button>
            </div>
        </div>
    </form>
</div>
