<div class="footer-container">
    <hr>
    <div class="icons">
        <img [routerLink]="['home']"  src="../../../assets/images/logo-no-background.svg" alt="image" class="logo">
        <div class="icons-right">
            <div class="icons-horizontal">
                <p class="social-media">Social Media</p>
                <img src="../../../assets/images/YoutubeLogo.svg" class="social-icons" alt="Youtube">
                <img src="../../../assets/images/FacebookLogo.svg" class="social-icons" alt="Facebook">
                <img src="../../../assets/images/InstagramLogo.svg" class="social-icons" alt="Instagram">
                <img src="../../../assets/images/TwitterLogo.svg" class="social-icons" alt="Twitter">
                <img src="../../../assets/images/LinkedinLogo.svg" class="social-icons" alt="Linkedin">
            </div>
            <div class="icons-vertical">
                <img src="../../../assets/images/GooglePlay.svg" class="shop-icons" alt="GooglePlay">
                <img src="../../../assets/images/AppStore.svg" class="shop-icons" alt="AppStore">
                <img src="../../../assets/images/AppGallery.svg" class="shop-icons" alt="AppGallery">
            </div>
        </div>
    </div>
    <hr>
    <div class="links">
        <div class="links-left">
            <p>ABOUT US</p>
            <p>CONTACT US</p>
            <p>HELP</p>
        </div>
        <p class="copyright">Copyright © 2023 Booking</p>
    </div>
</div>
