<div class="main-container">
    <div class="notification-card">
        <img src="../../../assets/images/cancel.png">
        <div class="notification-data">
            <h4>Title</h4>
            <p>Description</p>
        </div>
    </div>
    <div class="notification-card">
        <img src="../../../assets/images/star.svg">
        <div class="notification-data">
            <h4>Title</h4>
            <p>Description</p>
        </div>
    </div>
    <div class="notification-card">
        <img src="../../../assets/images/quote-request.png">
        <div class="notification-data">
            <h4>Title</h4>
            <p>Description</p>
        </div>
    </div>

</div>