<div class="main-container">
    <div class="input-container">
        <div>
            <label for="year">Chose year:</label>
            <select id="year" [(ngModel)]="selectedYear" (ngModelChange)="getAnnualAnalytics(selectedYear)">
                <option *ngFor="let year of years" [value]="year" >{{ year }}</option>
            </select>
            <select id="chartType" [(ngModel)]="chartType" (ngModelChange)="getAnnualAnalytics(selectedYear)">
                <option *ngFor="let chartType of chartTypes" [value]="chartType" >{{ chartType.toUpperCase() }}</option>
            </select>
        </div>
    
        <button mat-raised-button (click)="exportToPDF()">Export to PDF</button>
    </div>

    <div id="charts">
        <canvas baseChart
        [datasets]="chartEarningsData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="chartLegend"
        [type]="chartType"
        id="earnings">
    </canvas>
    <canvas baseChart
        [datasets]="chartReservationsData"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="chartLegend"
        [type]="chartType"
        id="reservations">
    </canvas>
    </div>
    

    
</div>